<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="site-wrap">
      {% include header.html %}
      {% include components/panel-main.html %}
    </main>
    <footer>

      {% include components/contentinfo.html %}
    </footer>
  </body>
</html>
