/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, transparent 75%, #ccc 75%);
  background-repeat: repeat-x;
  background-size: auto 2px;
  background-position: 0 1em;
  color: #ccc; }
  a:visited {
    color: currentColor; }
  a:focus {
    color: #ccc; }
  a:hover {
    color: #ccc; }
  a:active {
    color: #ccc; }

.link,
[class^="link--"]:before,
[class*=" link--"] {
  transition: color 0.125s;
  cursor: pointer; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html,
.no-js body {
  height: 100%; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

main {
  flex: 1;
  width: 1024px;
  margin: 0 auto; }

p {
  margin: 0 0 1.375rem; }

img, audio, canvas, embed, object, video {
  display: block;
  max-width: 100%;
  height: auto; }

iframe[src*="maps.google"] img {
  max-width: auto;
  margin: auto; }

iframe {
  display: block; }

blockquote {
  font-style: italic;
  color: #ddd; }

address {
  display: block;
  font-style: normal;
  margin-bottom: 1.375rem;
  white-space: pre-line; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  font-style: italic; }

pre {
  overflow-x: auto; }

object {
  max-width: 100%; }

hr,
.hr {
  clear: both;
  border: none;
  border-top: 1px solid black;
  margin-top: 1.375rem;
  margin-bottom: 1.375rem; }

::selection {
  color: white;
  background-color: black; }

body {
  font: 300 1rem / 1.375rem "Fira Sans", courier, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased; }

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

blockquote > :last-child, ol > :last-child, dl > :last-child, fieldset > :last-child {
  margin: 0; }

abbr[title] {
  border-bottom: none; }

h1,
.as-h1 {
  font-size: 4.25rem;
  font-weight: 900;
  line-height: 5.5rem;
  margin-bottom: 1.375rem;
  margin-top: 2.75rem; }

h2,
.as-h2 {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 1.375rem;
  margin-top: 2.75rem; }

h3,
.as-h3 {
  font-size: 1.625rem;
  line-height: 2.75rem;
  margin-bottom: 1.375rem;
  margin-top: 1.375rem; }

h4,
.as-h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  margin-bottom: 1.375rem;
  margin-top: 1.375rem; }

.masthead {
  background-color: #e84531;
  color: white; }
  .masthead:after {
    content: "";
    display: table;
    clear: both; }
  .masthead__inner {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    align-items: center; }

.logo {
  background-color: #d93b27;
  width: 4.5rem;
  height: 4.5rem;
  float: left; }
  .logo:after {
    content: "";
    display: table;
    clear: both; }
  .logo__title {
    margin: 0; }
  .logo__img {
    transform: scale(0.8); }

.logo-extended {
  width: 100%;
  max-width: 7rem;
  margin: 0 auto; }
  .logo-extended__title {
    margin: 0; }

.site-nav {
  display: block;
  float: right;
  flex: 1; }
  .site-nav__list {
    margin: 0 4rem 0 3rem;
    display: flex;
    justify-content: space-around; }

.site-nav-item {
  display: inline-block;
  margin: 0; }
  .site-nav-item__link {
    display: inline-block;
    padding: 0.60rem 1.25rem;
    border-radius: 10rem;
    color: white;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 0.75rem; }
    .site-nav-item__link:hover, .site-nav-item__link:active, .site-nav-item__link:focus {
      color: white;
      background-color: #FFA599; }

.user-status {
  display: flex;
  height: 4.5rem;
  align-items: center;
  padding: 0 2rem 0 1.5rem;
  border-left: 1px solid #FFA599; }
  .user-status__image {
    position: relative; }
  .user-status__avatar {
    width: 35px;
    height: 35px; }
  .user-status__notifications {
    position: absolute;
    top: -8px;
    right: -9px;
    z-index: 5;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    width: 19px;
    height: 19px; }
    .user-status__notifications::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 0;
      z-index: -1;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background-color: #ca2816; }
  .user-status__name {
    position: relative;
    margin-bottom: 0;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-weight: 700;
    font-size: 0.8125rem;
    text-transform: capitalize;
    line-height: 1; }
    .user-status__name::after {
      content: "";
      position: absolute;
      top: 3px;
      right: -1rem;
      width: 9px;
      height: 9px;
      background-image: url("../images/icons/arrow.svg");
      background-position: center center;
      background-size: 100%;
      background-repeat: no-repeat; }
  .user-status__action {
    color: #FFA599;
    font-style: italic;
    font-size: 0.8125rem;
    font-weight: 700;
    background: none;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif; }
    .user-status__action:hover, .user-status__action:active, .user-status__action:focus {
      color: white; }
  .user-status__inner {
    margin-left: 1rem; }

.featured-panel {
  position: relative; }
  .featured-panel__inner {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .featured-panel__content {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 1rem;
    margin-top: -2rem;
    max-width: 21rem;
    transform: translateY(-50%); }
  .featured-panel__categories {
    margin: 0.5rem 0 1rem;
    display: flex;
    justify-content: space-around; }

.recipe-title {
  overflow: hidden;
  display: flex;
  align-items: center; }
  .recipe-title__time {
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-weight: 300;
    font-size: 58px;
    letter-spacing: -2px;
    color: #e84531;
    margin: 0;
    line-height: 1.2; }
  .recipe-title__title {
    margin: 0;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 0.75rem;
    font-size: 21px; }

.recipe-category {
  flex: 0 1 31%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid #e84531;
  padding: 1rem 0.5rem;
  text-align: center; }
  .recipe-category__img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    margin: 0 auto; }
  .recipe-category__name {
    font-size: 1rem;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-size: 0.8125rem;
    font-weight: 400;
    text-shadow: 1px 1px white;
    margin: 0.75rem 0 0.25rem;
    line-height: 1; }
  .recipe-category__value {
    line-height: 1;
    color: #e84531;
    text-shadow: 1px 1px white;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0; }

.generic-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: medium none;
  border-radius: 10rem;
  background-color: #e84531;
  color: white;
  padding: 0.25rem;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .generic-button__icon {
    position: relative;
    fill: white;
    width: 40px;
    height: 40px;
    padding: 12px;
    display: inline-block;
    background-color: #ca2816;
    border-radius: 50%; }
  .generic-button__label {
    position: relative;
    font-size: 0.875rem;
    padding: 0 2rem 0 0; }

.testimonials {
  position: relative;
  padding: 2rem 2rem 6rem; }
  .testimonials__list {
    overflow: hidden;
    height: 110px;
    outline: white;
    width: 100%; }
  .testimonials__quotes {
    overflow-x: hidden;
    outline: white; }
  .testimonials .flickity-prev-next-button {
    display: none; }

.testimonial {
  cursor: pointer;
  width: 33.333%;
  white-space: normal;
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  opacity: 0.4;
  transition: opacity 300ms ease-in 0ms; }
  .testimonial.is-selected {
    opacity: 1; }
  .testimonial__img {
    width: 75px; }
  .testimonial__inner {
    margin-left: 1rem; }
  .testimonial__name {
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    line-height: 1.4; }
  .testimonial__profession {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: #e84531; }

.testimonial-quote {
  margin-bottom: 2rem;
  width: 100%; }
  .testimonial-quote__text {
    position: relative;
    color: black;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-style: italic;
    max-width: 32rem;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.6;
    padding: 2rem 0 1rem;
    text-align: center; }
    .testimonial-quote__text::before {
      content: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23f5f5f5%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22135%22%20height%3D%22109%22%20viewBox%3D%220%200%20135%20109%22%3E%3Cpath%20d%3D%22M59.992%2080.328c0-11.27-4.96-18.667-12.756-24.302L61.056.376H32.707L10.03%2046.517C2.588%2062.013.108%2070.818.108%2079.976c0%2016.2%2012.402%2028.527%2029.765%2028.527%2017.01%200%2030.12-12.326%2030.12-28.175zm73.704%200c0-11.27-5.315-18.667-12.756-24.302L134.76.378h-28.702L83.733%2046.516c-7.44%2015.497-10.276%2024.302-10.276%2033.46%200%2016.2%2012.756%2028.527%2029.765%2028.527%2017.01%200%2030.474-12.326%2030.474-28.175z%22%2F%3E%3C%2Fsvg%3E%0A");
      position: absolute;
      top: -1.75rem;
      left: -4.5rem;
      transform: scale(0.5);
      z-index: -1;
      color: #f5f5f5;
      line-height: 1; }
    .testimonial-quote__text::after {
      content: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23f5f5f5%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22135%22%20height%3D%22109%22%20viewBox%3D%220%200%20135%20109%22%3E%3Cpath%20d%3D%22M59.992%2080.328c0-11.27-4.96-18.667-12.756-24.302L61.056.376H32.707L10.03%2046.517C2.588%2062.013.108%2070.818.108%2079.976c0%2016.2%2012.402%2028.527%2029.765%2028.527%2017.01%200%2030.12-12.326%2030.12-28.175zm73.704%200c0-11.27-5.315-18.667-12.756-24.302L134.76.378h-28.702L83.733%2046.516c-7.44%2015.497-10.276%2024.302-10.276%2033.46%200%2016.2%2012.756%2028.527%2029.765%2028.527%2017.01%200%2030.474-12.326%2030.474-28.175z%22%2F%3E%3C%2Fsvg%3E%0A");
      transform: rotate(180deg) scale(0.5);
      position: absolute;
      right: -1rem;
      bottom: -45px;
      width: 50px;
      z-index: -1;
      color: #f5f5f5;
      line-height: 1; }
  .testimonial-quote__count {
    color: #e84531;
    text-align: center;
    font-weight: 400;
    font-size: 0.75rem; }

.generic-panel {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center; }
  .generic-panel:after {
    content: "";
    display: table;
    clear: both; }

.generic-panel__inner {
  padding: 1.5rem 1rem 2rem; }

.generic-panel__title {
  font-size: 1.625rem;
  line-height: 2.75rem;
  margin-bottom: 1.375rem;
  margin-top: 1.375rem;
  font-weight: 400;
  font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
  margin-bottom: 0; }

.generic-panel__subtitle {
  color: #e84531;
  font-size: 0.9rem; }

.generic-image__img {
  display: block;
  width: 100%; }

.controller {
  background-repeat: repeat;
  background-size: 11%;
  color: #fff;
  background-color: #e84531;
  background-image: url("../images/pattern.svg");
  border: medium none;
  width: 100%;
  display: block;
  padding: 1.75rem 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 99; }

.controller--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.timer {
  width: 100%;
  height: 100%; }

.timer__label {
  position: absolute;
  top: -2px;
  right: -1px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
  font-weight: 700;
  font-size: 1em; }

.timer__icon path {
  fill: #e1e1e1; }

.timer__icon--1 .path1 {
  fill: #e84531; }

.timer__icon--2 .path1 {
  fill: #e84531; }

.timer__icon--2 .path2 {
  fill: #e84531; }

.timer__icon--3 .path1 {
  fill: #e84531; }

.timer__icon--3 .path2 {
  fill: #e84531; }

.timer__icon--3 .path3 {
  fill: #e84531; }

.timer__icon--4 .path1 {
  fill: #e84531; }

.timer__icon--4 .path2 {
  fill: #e84531; }

.timer__icon--4 .path3 {
  fill: #e84531; }

.timer__icon--4 .path4 {
  fill: #e84531; }

.timer__icon--5 .path1 {
  fill: #e84531; }

.timer__icon--5 .path2 {
  fill: #e84531; }

.timer__icon--5 .path3 {
  fill: #e84531; }

.timer__icon--5 .path4 {
  fill: #e84531; }

.timer__icon--5 .path5 {
  fill: #e84531; }

.timer__icon--6 .path1 {
  fill: #e84531; }

.timer__icon--6 .path2 {
  fill: #e84531; }

.timer__icon--6 .path3 {
  fill: #e84531; }

.timer__icon--6 .path4 {
  fill: #e84531; }

.timer__icon--6 .path5 {
  fill: #e84531; }

.timer__icon--6 .path6 {
  fill: #e84531; }

.timer__icon--7 .path1 {
  fill: #e84531; }

.timer__icon--7 .path2 {
  fill: #e84531; }

.timer__icon--7 .path3 {
  fill: #e84531; }

.timer__icon--7 .path4 {
  fill: #e84531; }

.timer__icon--7 .path5 {
  fill: #e84531; }

.timer__icon--7 .path6 {
  fill: #e84531; }

.timer__icon--7 .path7 {
  fill: #e84531; }

.timer__icon--8 .path1 {
  fill: #e84531; }

.timer__icon--8 .path2 {
  fill: #e84531; }

.timer__icon--8 .path3 {
  fill: #e84531; }

.timer__icon--8 .path4 {
  fill: #e84531; }

.timer__icon--8 .path5 {
  fill: #e84531; }

.timer__icon--8 .path6 {
  fill: #e84531; }

.timer__icon--8 .path7 {
  fill: #e84531; }

.timer__icon--8 .path8 {
  fill: #e84531; }

.ingredients {
  position: relative;
  background-repeat: repeat;
  background-size: 11%;
  color: #fff;
  background-color: #e84531;
  background-image: url("../images/pattern.svg");
  text-align: center;
  color: #fff;
  padding: 3rem 1rem 2.5rem; }

.ingredients__list {
  -webkit-column-count: 2;
  -webkit-column-gap: 12rem;
  -webkit-column-span: all;
  margin: 0 auto;
  max-width: 55rem; }

.ingredients__timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 55px;
  height: 55px;
  font-size: 1.125rem; }
  .ingredients__timer .timer__icon path {
    fill: #FFA599; }

.ingredient {
  margin-bottom: 1rem;
  font-size: 1.125rem; }

.ingredient__name,
.ingredient__quantity,
.ingredient__method {
  display: inline-block;
  margin-right: 5px; }

.ingredient__quantity {
  font-weight: 500; }

.ingredient__method {
  color: #FFA599; }

.stage {
  position: relative;
  width: 100%;
  display: flex; }

.stage:nth-child(even) {
  flex-direction: row-reverse; }

.stage__figure {
  width: 50%; }

.stage__img {
  width: 100%; }

.stage__timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 75px;
  height: 75px;
  background-color: white;
  padding: 11px;
  border-radius: 50%;
  z-index: 10;
  font-size: 1.125rem; }
  .stage__timer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: calc(50% + 2px);
    background-image: url("../images/shape_counter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 90px;
    z-index: -1; }
    .stage:nth-child(even) .stage__timer::after {
      transform: translateX(-50%) translateY(-50%) rotate(180deg);
      left: calc(50% - 2px); }

.stage-content {
  position: relative;
  overflow: hidden;
  width: 50%;
  flex: 1 1 50%;
  text-align: right; }

.stage-content__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center; }

.stage-content__text {
  margin: 0;
  max-width: 16rem;
  text-align: center;
  background-color: white;
  padding: 0 0.5rem;
  font-size: 1.25rem;
  line-height: 1.6; }
  .stage-content__text strong {
    color: #ca2816; }

.stage-content__list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 1.5rem; }
  .stage:nth-child(even) .stage-content__list {
    padding: 0 1.5rem 0 0; }

.stage-progress {
  position: relative;
  color: #e1e1e1;
  border-bottom: 2px solid #f5f5f5;
  padding: 0.5rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .stage-progress:nth-child(3n+1) {
    margin: 0 0 0 1rem; }
  .stage-progress:nth-child(3n+3) {
    margin: 0 0 0 2rem; }
  .stage:nth-child(even) .stage-progress {
    justify-content: flex-start; }
    .stage:nth-child(even) .stage-progress:nth-child(3n+1) {
      margin: 0 1rem 0 0; }
    .stage:nth-child(even) .stage-progress:nth-child(3n+3) {
      margin: 0 2rem 0 0; }
  .stage-progress__label {
    color: #cccccc;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-weight: 700;
    font-size: 0.65em;
    border: 2px solid #f5f5f5;
    display: inline-block;
    width: 3.25rem;
    text-align: center;
    padding: 0 0.5rem;
    border-radius: 13px;
    transition: all 300ms ease-in-out 0ms; }
    .is-active .stage-progress__label {
      background-color: #f5f5f5;
      color: black; }
  .stage-progress__indicator {
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: #e84531;
    transition: 1000ms linear;
    width: 100%; }
  .stage-progress--active .stage-progress__label {
    background: #f5f5f5;
    color: #3b3b3b; }
  .stage-progress--completed .stage-progress__indicator {
    background-color: #f5f5f5; }

.final-stage {
  position: relative;
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .final-stage__inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .final-stage__text {
    text-align: center;
    padding: 0 4rem;
    max-width: 33%;
    font-size: 1.25rem;
    line-height: 1.6;
    background-color: white; }
  .final-stage__timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 6rem;
    height: 6rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    z-index: 10;
    font-size: 1.625rem; }

.testimonial {
  cursor: pointer;
  width: 33.333%;
  white-space: normal;
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  opacity: 0.4;
  transition: opacity 300ms ease-in 0ms; }
  .testimonial.is-selected {
    opacity: 1; }
  .testimonial__img {
    width: 75px; }
  .testimonial__inner {
    margin-left: 1rem; }
  .testimonial__name {
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    line-height: 1.4; }
  .testimonial__profession {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: #e84531; }

.testimonials {
  position: relative;
  padding: 2rem 2rem 6rem; }
  .testimonials__list {
    overflow: hidden;
    height: 110px;
    outline: white;
    width: 100%; }
  .testimonials__quotes {
    overflow-x: hidden;
    outline: white; }
  .testimonials .flickity-prev-next-button {
    display: none; }

.navigator {
  position: relative;
  right: 0;
  height: 3rem;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #e1e1e1;
  z-index: 100;
  padding: 0 1rem; }
  .navigator:after {
    content: "";
    display: table;
    clear: both; }
  .navigator__list {
    display: flex;
    justify-content: space-between; }
  .navigator.is-fixed {
    position: fixed;
    bottom: 0; }

.navigator-item {
  position: relative;
  top: -3px;
  flex: 1;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid transparent; }
  .navigator-item.navigator-item--completed {
    border-bottom: 3px solid #e84531; }
  .navigator-item__link {
    background-image: none;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    top: 2px;
    transition: color 300ms ease-in 0ms; }
    .navigator-item__link:hover, .navigator-item__link:active, .navigator-item__link:focus {
      color: #e84531; }
    .navigator-item--completed .navigator-item__link,
    .navigator-item__link a:active {
      color: #e84531; }
  .navigator-item__icon {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2rem;
    font-size: 10px;
    color: black; }
  .navigator-item__label {
    display: inline-block;
    line-height: 3rem;
    padding: 0 0.6rem;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-weight: 700;
    font-size: 0.6875rem; }

.footer {
  overflow: hidden;
  background-color: #e84531;
  color: white; }
  .footer:after {
    content: "";
    display: table;
    clear: both; }
  .footer a {
    color: #FFA599;
    background: none; }
    .footer a:hover, .footer a:active, .footer a:focus {
      color: white; }
  .footer__inner {
    display: flex;
    padding: 3rem 0; }
  .footer__slot {
    flex: 1;
    padding: 0 0 0 1.5rem; }
    .footer__slot--big-slot {
      flex: 3; }

.contentinfo {
  background-color: #d93b27;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 2rem; }
  .contentinfo__slot {
    display: flex;
    align-items: center;
    padding: 0 2rem; }
  .contentinfo__text {
    font-weight: 700; }
  .contentinfo__copyright {
    display: inline-block;
    padding: 0 0.5rem;
    color: #FFA599; }
    .contentinfo__copyright a {
      text-decoration: underline; }
  .contentinfo__text, .contentinfo__copyright {
    margin: 0;
    font-size: 0.875rem; }

.logo-extended {
  width: 100%;
  max-width: 7rem;
  margin: 0 auto; }
  .logo-extended__title {
    margin: 0; }

.list-widget {
  overflow: hidden; }
  .list-widget__title {
    font-size: 1.125rem;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    margin: 0.8rem 0; }
  .list-widget__link {
    display: block;
    padding: 0.25rem 0; }

.twitter-widget__title {
  font-size: 1.125rem;
  font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
  display: inline-block;
  margin: 0.8rem 0; }

.twitter-widget__handler {
  display: inline-block;
  padding: 0 0.5rem; }

.tweet {
  margin: 0 0 1rem; }
  .tweet__name {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
    display: inline-block; }
  .tweet__date {
    display: inline-block;
    padding: 0 0.25rem;
    margin: 0;
    font-size: 0.875rem; }
  .tweet__content {
    color: #FFA599;
    font-size: 0.875rem; }

.social-links {
  display: flex; }
  .social-links__item {
    padding: 0 1rem; }
    .social-links__item a {
      display: flex;
      align-items: center; }
  .social-links__label {
    padding: 0 0.5rem;
    text-transform: capitalize;
    font-size: 0.875rem; }
  .social-links__icon {
    width: 2.5rem;
    height: 2.5rem;
    background: #e84531;
    padding: 0.75rem;
    border-radius: 1rem; }
    .social-links__icon use {
      fill: white; }

.sharing-section {
  position: relative;
  background-repeat: repeat;
  background-size: 11%;
  background-color: white;
  background-image: url("../images/pattern-white.svg");
  text-align: center;
  padding: 2rem 4rem;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.sharing-button {
  position: relative;
  border: 2px solid #e84531;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  padding: 0.25rem;
  transition: all 300ms ease-in 0ms; }
  .sharing-button:hover {
    background-color: #e84531; }
  .sharing-button--facebook {
    border-color: #49639e; }
    .sharing-button--facebook:hover {
      background-color: #49639e; }
  .sharing-button--twitter {
    border-color: #3bcaff; }
    .sharing-button--twitter:hover {
      background-color: #3bcaff; }
  .sharing-button--google {
    border-color: #4585f1; }
    .sharing-button--google:hover {
      background-color: #4585f1; }
  .sharing-button--instagram {
    border-color: #3f729b; }
    .sharing-button--instagram:hover {
      background-color: #3f729b; }
  .sharing-button__icon-wrapper {
    position: absolute;
    top: 3px;
    left: 0.25rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #e84531;
    border-radius: 50%;
    padding: 8px;
    transition: all 300ms ease-in 0ms; }
    .sharing-button__icon-wrapper use {
      fill: white; }
    .sharing-button:hover .sharing-button__icon-wrapper {
      transform: rotate(360deg);
      left: calc(100% - 2.25rem);
      background-color: #ca2816; }
    .sharing-button__icon-wrapper--facebook {
      background-color: #49639e; }
      .sharing-button:hover .sharing-button__icon-wrapper--facebook {
        background-color: #293758; }
    .sharing-button__icon-wrapper--twitter {
      background-color: #3bcaff; }
      .sharing-button:hover .sharing-button__icon-wrapper--twitter {
        background-color: #009bd4; }
    .sharing-button__icon-wrapper--google {
      background-color: #4585f1; }
      .sharing-button:hover .sharing-button__icon-wrapper--google {
        background-color: #0f51c1; }
    .sharing-button__icon-wrapper--instagram {
      background-color: #3f729b; }
      .sharing-button:hover .sharing-button__icon-wrapper--instagram {
        background-color: #223d52; }
  .sharing-button__label {
    color: #e84531;
    padding: 0.25rem 1rem 0.25rem 2.5rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    position: relative;
    top: 1px;
    font-weight: 700;
    transition: all 300ms ease-in 0ms; }
    .sharing-button__label--facebook {
      color: #49639e; }
    .sharing-button__label--twitter {
      color: #3bcaff; }
    .sharing-button__label--google {
      color: #4585f1; }
    .sharing-button__label--instagram {
      color: #3f729b; }
    .sharing-button:hover .sharing-button__label {
      padding: 0.25rem 2.5rem 0.25rem 1rem;
      color: white; }

.section-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .section-icon__icon {
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #e84531;
    border: 5px solid white;
    border-radius: 1.5625rem;
    padding: 0.75rem; }
    .section-icon__icon use {
      fill: white; }

@keyframes blooming {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0); }
  5% {
    transform: translateX(-50%) translateY(-50%) scale(1.2); }
  10% {
    transform: translateX(-50%) translateY(-50%) scale(1); }
  90% {
    transform: translateX(-50%) translateY(-50%) scale(1); }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(0); } }

.voice-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%) scale(0);
  background-color: rgba(37, 137, 189, 0.75);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  color: white;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .voice-indicator.is-active {
    animation-name: blooming;
    animation-duration: 3s;
    animation-fill-mode: forwards; }
  .voice-indicator__icon {
    background-color: rgba(30, 110, 153, 0.75);
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 1.3125rem;
    padding: 0.75rem;
    display: block; }
    .voice-indicator__icon use {
      fill: white; }
  .voice-indicator__status {
    margin: 1rem 0 0.125rem;
    font-family: "Sentinel SSm A", "Sentinel SSm B", georgia, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.1875rem; }
  .voice-indicator__invitation {
    color: #1e6e99;
    font-size: 0.875rem;
    font-weight: 700; }
  .voice-indicator--error {
    background-color: rgba(255, 140, 0, 0.75); }
    .voice-indicator--error .voice-indicator__icon {
      background-color: rgba(184, 101, 0, 0.75); }
    .voice-indicator--error .voice-indicator__invitation {
      color: #b86500; }
  .voice-indicator--success {
    background-color: rgba(232, 69, 49, 0.75); }
    .voice-indicator--success .voice-indicator__icon {
      background-color: rgba(202, 40, 22, 0.75); }
    .voice-indicator--success .voice-indicator__invitation {
      color: #d93b27; }
