html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

html,
.no-js body
  height: 100%

body
  min-height: 100vh
  display: flex
  flex-direction: column

main
  flex: 1
  width: 1024px
  margin: 0 auto

p
  margin: 0 0 $rithm

img, audio, canvas, embed, object, video
  display: block
  max-width: 100%
  height: auto

img
  iframe[src*="maps.google"] &
    max-width: auto
    margin: auto

iframe
  display: block

blockquote
  font-style: italic
  color: #ddd

address
  display: block
  font-style: normal
  margin-bottom: $rithm
  white-space: pre-line

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  font-style: italic
  @extend .text--bold

pre
  overflow-x: auto

object
  max-width: 100%

hr,
.hr
  clear: both
  border: none
  border-top: 1px solid black
  margin-top: $rithm
  margin-bottom: $rithm

::selection
  color: white
  background-color: black
