<header class="masthead">
  <div class="masthead__content">
    <div class="masthead__logo">
      {% include components/site-logo.html %}
    </div>
    <div class="masthead__buttons">
      {% include components/social-links.html %}
    </div>
  </div>
</header>
