<div class="contentinfo">
  <div class="contentinfo__inner">
    <div class="contentinfo__slot">
      <p class="contentinfo__text">
        Gourmate 2015
      </p>
    </div>
    <div class="contentinfo__slot contentinfo__slot--small">
      <svg class="mark" viewBox="0 0 32 32">
         <use xlink:href="../_assets/images/icons/faces.svg#icon-ready"  />
      </svg>
    </div>
    <div class="contentinfo__slot">
      <p class="contentinfo__text">
        Some right reserved
      </p>
    </div>
  </div>
</div>