<form class="form" action="//cookinghandsfree.us11.list-manage.com/subscribe/post?u=18d41756f878705992a1d9c20&amp;id=31717417a9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label class="form__label" for="mce-EMAIL">Email Address</label>
	<input class="form__input" placeholder="Your email address" type="email" value="" name="EMAIL" id="mce-EMAIL">
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_18d41756f878705992a1d9c20_31717417a9" tabindex="-1" value=""></div>
	<button class="form__submit" type="submit">
		<svg viewBox="0 0 32 32">
			<use xlink:href="../_assets/images/icons/sprite.svg#icon-email"  />
		</svg>
	</button>
</form>
