<div class="ipad ipad--shifted-on-desktop">
  <div class="ipad__skin"></div>

  <!-- <img id="poster" class="ipad__image" src="./_assets/images/poster-presentation.png" alt="Gourmate!">

  <video id="video"  class="ipad__video" controls poster="./_assets/images/poster-presentation.png" >
    <source src="./_assets/videos/Gourmate-Launch-Teaser.mp4" type="video/mp4">
    <source src="./_assets/videos/Gourmate-Launch-Teaser.webm" type="video/webm">
    <img class="ipad__content" src="./_assets/images/poster-presentation.png" alt="Gourmate!">
  </video> -->


  <div class="ipad__background">
    <iframe class="ipad__embed" src="https://player.vimeo.com/video/147969193?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
