<div class="panel panel--white-pattern site-wrap__filler">
  <div class="panel__content">
    <div class="panel__slot">
      {% include components/ipad-presenting.html %}
    </div>
    <div class="panel__slot">
      {% include components/site-intro.html %}
    </div>
  </div>
</div>
