<article class="site-intro">
  <header class="site-intro__header">
    <h1 class="site-intro__title">It's all about cooking</h1>
    <br>
    <span class="site-intro__tagline">
      nothing else, but cooking
    </span>
  </header>

  <div class="site-intro__text">
    <p><strong>Gourmate</strong> is an iPad app which eases the process of cooking; becoming your personal helper before, during & after cooking any of our recipes. Do you want to try it?</p>
    <p>Be one of the first <strong>2.000 people</strong> to sign up to the limited waiting list, and get access to the beta app, plus a <strong>lifetime free-download</strong> once we release Gourmate in the app store.</p>
  </div>
  {% include components/form.html %}
</article>
