<ul class="social-links">
  {% for social in site.data.social-links %}
    <li class="social-link">
      <a href="{{social.link}}" class="social-link__link">
        <svg class="social-link__icon social-link__icon--{{social.name}}" viewBox="0 0 32 32">
           <use xlink:href="../_assets/images/icons/sprite.svg#icon-{{social.name}}"  />
        </svg>
      </a>
    </li>
  {% endfor %}
</ul>
