<div class="stripe">
	<div class="stripe__content">
		<h2 class="stripe__text">
			<span class="stripe__text--dimmed">How many times have you cooked a</span> new recipe this&nbsp;month?
		</h2>
	</div>
</div>
