.contentinfo {
  background-color: color(red_80);
  color: color(red_40);

  &__inner {
    @include layout-constraint;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slot {
    flex: 2;
    padding: 0;
    &:last-child {
      text-align: right;
    }
  }

  &__slot--small {
    flex: 0 0 2rem;
    text-align: center;
    padding: 0;
    text-align: center;
  }

  &__text {
    margin-bottom: 0;
    font-size: rem($ratio__tiny);
    @include media(">tablet") {
      font-size: rem($ratio__small);
    }
  }
}