$form-input-radius: 10rem;
$form-input-padding: 1rem;

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $rithm / 2;
  border: medium none;
  border-radius: 10rem;
  background-color: color(grey_40);
  color: white;
  padding: 0.25rem 10px 0.25rem 0.25rem;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px 10px white;
}

.form__label {
  @include visuallyhidden;
}

.form__input {
  display: inline-block;
  width: 95%;
  padding: $form-input-padding 30px $form-input-padding $form-input-padding;
  background-color: transparent;
  border: none;
  font-size: 80%;
  color: color(grey_100);
  -webkit-appearance: none;
  outline: none;
  text-transform: uppercase;
  &::placeholder {
    color: color(grey_80);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $fonts__bold-weight;
  }
}

.form__submit {
  display: inline-block;
  position: relative;
  fill: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: color(red_60);
  font-size: 80%;
  border: none;
  border-radius: 50%;
}

.form-disclaimer {
  font-size: 80%;
  @include media(">landscape") {
    text-align: center;
  }
}
