.ipad {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 67%;

  &__skin {
    @include position(absolute, top 0 left 0 right 0);
    display: block;
    z-index: -1;
    height: 100%;
    background: {
      image: url('../../images/iPad.svg');
      repeat: no-repeat;
      size: contain;
    }
  }

  &__image {
    @include position(absolute, top 5% left 10% right 0);
    width: 80%;
    z-index: 10;
  }

  &__video {
    @include position(absolute, top 5% left 10% right 0);
    width: 80%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
  }

    &__background {
    background-color: #1E1E1E;
    @include position(absolute, top 5% left 10% right 0 bottom 5%);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__embed {
    width: 100%;
    //@include position(absolute, top 5% left 10% right 0);
    //width: 80%;
    //z-index: 10;
  }

  // MODIFIERS

  &--shifted-on-desktop {
    @include media(">landscape") {
      transform: scale(1.2) translateX(5%) translateY(15%);
    }
    @include media(">desktop") {
      transform: scale(1.6) translateX(19.5%) translateY(15%);
    }
  }
}
