.masthead {
  background-color: white;
  border-bottom: solid 1px color(grey_60);
  
  &__content {
    display: flex;
    align-items: center;
    @include media(">tablet") {
      @include layout-constraint;
    }
  }

  &__logo {
    flex: 1;
    max-width: 7rem;
  }

  &__buttons {
    text-align: right;
    flex: 1 0 40px;
  }
}
