.panel  {
  padding: ($section-padding * 1.5) 0; // temporary padding

  @include media('>tablet') {
    padding: $section-padding*3 0; // temporary padding
  }

  //modifier
  &--white-pattern {
    @include texture(white);
  }
}

.panel__content {
  @include layout-constraint;
  display: flex;
  flex-wrap: wrap;
  @include media(">landscape") {
    flex-direction: row-reverse;
  }
}

.panel__slot {
  width: 100%;
  flex: 1 1 100%;
  max-width: $medium-col;
  margin: 0 auto ($rithm / 3);

  @include media(">landscape") {
    width: 50%;
    flex: 1 1 50%;
  }

  &--one-third {
    @include media(">landscape") {
      width: 33.333%;
      flex: 1 1 33%;
    }
  }
  &--two-thirds {
    @include media(">landscape") {
      width: 66.666%;
      flex: 1 1 66%;
    }
  }
}
