
.site-intro {
  padding: $rithm / 2;
  max-width: $narrow-col;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  @include media(">landscape") {
    //padding: $rithm;
    margin: 0;
  }
}

.site-intro__header {
  display: block;
  text-align: center;
  margin-bottom: $rithm;

  @include media(">landscape") {
    margin-bottom: $rithm * 1.5;
  }
}

.site-intro__title {
  display: inline-block;
  background-color: white;
  margin: 0 0 ($rithm/4);
  padding: 10px 10px 5px;
  font-family: $fonts--comp;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.1;
  color: color(red_60);
  @include media(">tablet") {
    font-size: 2rem;
  }
}

.site-intro__tagline {
  background-color: white;
  margin-bottom: $rithm;
  padding: 5px 10px;
  text-align: center;
  color: color(grey_80);
  font-weight: 700;
}

.site-intro__text {
  background-color: white;
  padding: 10px 5px;
  strong {
    color: color(red_60);
  }
}
