.social-link {
  padding-right: $rithm / 3;
  display: inline-block;

  @include media(">tablet") {
    padding-right: $rithm / 2;
  }

  &__link {
    display: flex;
    align-items: center;
    background-image: none; 
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    background: color(red_60);
    padding: 0.5rem;
    border-radius: 0.75rem;
    use {
      fill: white;
    }
  }
}
