
.stripe {
  padding: $rithm 0;
  background-color: color(red_60);
}

.stripe__content {
  @include layout-constraint;
  text-align: center;
}

.stripe__text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.35;
  color: white;
  font-family: $fonts--comp;
}

.stripe__text--dimmed {
  color: color(red_40);
}
